name: Build and Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main, master]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-haskell:
    uses: nikita-volkov/haskell-hackage-lib-github-actions-workflows/.github/workflows/build.yaml@v4
    secrets: inherit
    with:
      ghc: "9.12"
      skip-doctest: true
      skip-benchmarks: true
      test-options: --qc-max-success=100
